<div class="card" id="card-dashboard" style="width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">GitHub Universe 2017</h4>
    <h6 class="card-subtitle mb-2 text-muted">@splashinn's experiences</h6>
    <p class="card-text">Highlighting my experiences.</p>
    <a href="https://www.github.com/splashinn" class="btn btn-dark btn-sm">My GitHub Profile</a>
  </div>
</div>
