@import 'bootstrap';

#title {
  font-family: 'Fascinate Inline', cursive;
}

#card-dashboard {
}

body {
  font-family: 'Droids San', sans-serif;
  background-image: url('GitHub-Universe.svg');
  background-attachment: fixed;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 75px;
}
